body {
    background-color: #f2eaea;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

p {
    margin: 0;
    padding: 0;
}

input,
textarea {
  background: none;
  border: none;
  font-size: 23px;
  color: white;
}
::-webkit-input-placeholder {
    color: white;
  }
  
  textarea:focus,
  input:focus {
    outline: none;
  }

.background {
    background-image: url(../public/img/bg.jpg);
    height: 20vh;
    background-size: cover;
    background-position: center;
    width: 20vw;
}

.sad_line {
    border-top: 1px solid;
    width: 30vw;
    margin-left: 6vw;
    margin-top: 6vh;
    background-size: cover;
}

.box {
    width: 62vw;
    margin-right: 1vw;
}

.sad_line_flex {
    display: flex;
    justify-content: space-between;
    margin-right: 1vw;
    margin-top: 2vh;
}

.text_image3_flex {
    display: flex;
    margin-top: 5vh;
    margin-right: 3vw;
}

.cartinca {
    background-image: url(../src/assets/Logo.jpg);
    background-size: cover;
    width: 10vw;
    height: 10vw;
}

.box_logo {
    display: flex;
    justify-content: center;
    margin-top: 22vh;
}

.image_3 {
    margin-left: 3vw;
    box-shadow: 16px -13px 1px rgb(198, 191, 206);
    border-radius: 35px;
    background-image: url(../public/img/image\ 2.png);
    background-size: cover;
    width: 20vw;
    height: 33vh;
    margin-top: 3vh;
}

.grup_text_title {
    display: flex;
    margin-right: 3vw;
}

.image_3_background {
    background-color: #81a0d0;
    width: 413px;
    height: 239px;
    margin-top: 5vh;
    margin-left: 9vw;
    border-radius: 20px;
}

.image_4 {
    background-image: url(../public/img/image3.png);
    width: 413px;
    height: 239px;
    background-size: cover;
    position: absolute;
    margin-left: 66vw;
    margin-top: 6vh;
}

.image3_line {
    width: 87vw;
    height: 7vh;
    border-top: black 1px solid;
    margin-top: 5vh;
    margin-left: 6vw;
}

.class_image_5 {
    background-image: url(../public/img/will-van-wingerden-87463-e1549022529660\ 1.png);
    background-size: cover;
    width: 100vw;
    height: 20vh;
    background-repeat: no-repeat;

}

.box_you {
    display: flex;
}

.about_flex {
    display: flex;
}

.line_choice {
    margin-left: 7vw;
    width: 18vw;
    border-bottom: 1px solid;
    margin-top: 21vh;
    position: absolute;
}

.method_line {
    margin-left: 3vw;
    height: 4vh;
    width: 72vw;
    border-bottom: 1px solid;
}

.The_method_flex {
    display: flex;
    margin-top: 40vh;
}

.svg_boshka {
    margin-left: 88vw;
    margin-top: 10vh;
    width: 8vw;
    height: 16vh;
    position: absolute;
}

.cist {

    margin-top: 56vh;
    margin-left: 4vw;
    height: 17vh;
    width: 11vw;

}

.svg_messeng {
    margin-left: 86vw;
    margin-top: 44vh;
    height: 11vh;
    width: 11vw;
}

.crivaya_line {
    margin-top: 74vh;
    margin-left: -87vw;
    width: 88vw;
    position: absolute;
}

.box_relaative {
    display: flex;
    margin-top: 20vh;
    width: 64vw;
    margin-left: 35vw;
}
.girl_text_flex {
    display: flex;
}
.girl{
    margin-top: 4vh;
    margin-left: 3vw;
}
.V_line {
    position: absolute;
    height: 34vh;
    border-right: 1px solid;
    margin-left: 50.4vw;
    margin-top: 3vh;
}

.list_grip {
    display: flex;
    justify-content: space-between;
}
.educationGrup {
    display: flex;

}